* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background-color: hotpink;
  display: flex;
  flex-wrap: wrap;
}

ul {
 list-style-type: none;
}

header {
  background-image: url(../content/avianto-suites-santorini.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
